@model IEnumerable<Btaplon.Models.TKhachHang>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhSachKH";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Mục Khách hàng</h2>

<p>
    <a asp-controller="admin" asp-action="ThemKhachHang">Thêm Khách Hàng</a>
<p class="alert-danger">@TempData["Message"]</p>

<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Tên Khách Hàng
            </th>
            <th>
                Giới tính
            </th>

            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
            @{
                int i = 0;
                string @cls = "table-success";
            }

            @foreach (var item in Model)
            {
                i = i + 1;
                cls = "table-success";
                if (i % 2 == 0)
                {
                    cls = "table-primary";
                }
            <tr class="@cls">
                <td>
                        @Html.DisplayFor(modelItem => item.TenKh)

                </td>
                <td>
                        @Html.DisplayFor(model => item.GioiTinh)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Sdt)
                </td>

                <td>
                    <a asp-controller="admin" asp-action="SuaKhachHang" asp-route-maKH="@item.MaKh">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaKh">Details</a> |
                    <a asp-controller="admin" asp-action="XoaKhachHang" asp-route-maKH="@item.MaKh">Delete</a>
                </td>
            </tr>
            }
    </tbody>
</table>
